<router-outlet></router-outlet>
<div class="section">
    <div class="section-header">Contact Us</div>
    <div class="section-body">
        <p>
            If you're interested in joining or coming to check out a practice, contact our coaching staff or feel free to drop
            by our <a [routerLink]="['../schedule']">next practice!</a>
        </p>
        <div class="key-val-pair">
            <div class="key">Email:</div>
            <a class="value" href="mailto: pretendWaterPoloEmail@gmail.com">pretendWaterPoloEmail@gmail.com</a>
        </div>
        <div class="key-val-pair">
            <div class="key">Text:</div>
            <div class="value">(615) 867 - 5309</div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-header">
        Coaches:
    </div>
    <div class="section-body">
        <div>
            Ethan
        </div>
        <div>
            Alan
        </div>
</div>