.news-bulletin {
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: lightgrey;
    
    .news-bulletin-title {
        margin-top: 1%;
        font-size: large;
        font-weight: bold;
    }

    .news-bulletin-body {
        margin: 1%;
        padding: 2%;

    }
}